*{
    margin: 0px;
    padding: 0px;
  }

body {
    font-family: 'Montserrat', sans-serif;
    overflow: scroll;
    width: 100%;
  }

/** HEADER **/
#header-nav {
  border-radius: 0;
  border: 0;
  width: 100%;
  padding: 20px;
}


div.navbar-header{
  width: 100%;
}

#logo-img {
  background: url('../images/Logo.svg') no-repeat;
  width: 75px;
  height: 50px;
  margin-top: 18x; 
  margin-left: 20px;
  padding-bottom: 10px;
  margin-right: 10px
}

.navbar-brand {
  padding-top: 6px; 
  margin-left: 0;
  margin-right: 0px ;
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Montez', cursive;
  font-size: 48px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 20px;
}
#nav-list a {
  color: #000;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 22px;
}
#nav-list a:hover {
  background: #E7E7E7;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid;

}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}


.heading {
    text-align: center;
    font-weight: 500;
  }

h1 {
    margin-top: 75px;
    font-size: 72px;
    font-weight: 500;
    color: #000000;
  }

.cards {
    border-radius: 5px;
    margin-top: 100px;
    margin-right: 25px;
    margin-left: 25px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1)
  }


.titlesection {
    width: 144px;
    height: 54px;
    position: absolute;
    top: 0;
    right: 0;
    background: #fefefe;
    border-radius: 0px 5px;
    padding: 0%;
    margin: 0%;
    float: right;
  }

.titlesectiontext {
    padding: 16px 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 22px;
    align-items: center;
    text-align: center;
  }

.cardContent {
    width: 80%;
    margin: 88px 33px 20px 33px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000;
  }

#non-veg {
    background: #fefefe;
    border-color: #F54747;
  }

#non-vegTitle {
    color: #f5f5f5  ;
    background-color: #F54747;
    border-bottom-left-radius: 5px;
  }

#egg {
    background: #fefefe;
    border-color: #F5752C;
  }

#eggTitle {
    color: #fefefe;
    background-color: #F5752C;
    border-bottom-left-radius: 5px;
  }

#veg {
    border-color: #11AD7C;
  }

#vegTitle {
  color: #fefefe;
  background-color: #11AD7C;
  border-bottom-left-radius: 5px;
  }


  /* Responsive Sizing*/

  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }

  @media (min-width: 576px) {
    .container {
      max-width: 540px; 
    }
    .flex-container{
      display: flex;
      justify-content: center;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1170px;
      padding: 0;
    }
    .flex-container{
      display: flex;
      justify-content: center;
    }
  }
